section {
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 50px;
}
h1 {
    margin:30px
}
a {
    color: rgb(232,48,70);
}
#floatingTextarea {
    height: 325px ; 
    resize: none ; 
}
@media (max-width: 600px) {
    #floatingTextarea {
        height: 225px ; 
    }
}
h2 {
    font-size: 16px;
    font-weight: bold;
}