/* rgb(232,48,70);*/
.navbar, .dropdown-menu {
    background-color: rgb(232,48,70);
}
.navbar-brand,.dropdown-item,.nav-link, #drop{
    color: white ;
}.nav-link:hover, #drop:hover{
    color: white ;
    border-bottom: 3px solid white;
}
.navbar-brand {
    transition: 1s;
}
.navbar-brand:hover{
    transform: scale(1.1,1.1);
    color: white ;
    transition: 1s;
}
.dropdown-item:hover {
    color: rgb(232,48,70);
}
body {
    overflow-x: hidden;
    padding-top: 80px;
    background-color: black;
}
p
{
color: white;
}
b
{
color: white;
}
.fadis {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 150px;
    background: linear-gradient( #ff0f0f00, #000000d5); 
    z-index: 1;
}
.fadish1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    background: linear-gradient(180deg, #ff0f0f00, #ffffff9a);
    z-index: 1;
    pointer-events: none;
}
.fadish2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    background: linear-gradient(0deg, #ff0f0f00, #ffffff9a);
    z-index: 1;
    pointer-events: none;
}
.centro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.redondo {
    border-radius: 50%;/*faz a borda ficar arredondada*/
    object-fit: cover;/*faz a imagem cobrir todo o circulo*/
    aspect-ratio: 1/1;/*faz a imagem n ficar distorcida com o objectfit e o border radius*/
    border:3px solid #0f0f1b;/*explicado anteriormente*/
}
.lateral {
    width: 100%;
    display: flex;
}
.time {
    height:200px;
}
footer{
    position: relative;
    background-color:  rgb(232,48,70); 
    width: 100%;
    height: 170px; 
    z-index: 10; 
    color: white;
}
.breadcrumb a{
    color: white;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: white;
}
.linha
{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 2px;
}
.imagem
{
    width:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
br
{
    margin-top: 5px;
    margin-bottom: 5px;
}
.col-degrade
{
    position: absolute;
}
.banner-container
{
    position: relative;
}
.banner
{
    margin-top: -15px;
    width:100%;
    object-fit: cover;
    height: auto;
}
.conteudo
{
    margin-top: 30px;
}
.titulo
{
    margin-top: 3%;
    margin-left: 25%;
    width: 50%;
    height: auto;
}
.navbar-toggler-icon {
  filter: brightness(0) invert(1);
}
@media (max-width: 600px) {
    footer{
        height: 270px; 
    }
}
.poster
{
    margin-top: -15px;
}
h1{
    margin-bottom: 20px;
}
.imagem
{
    height: 300px;
    width: auto;
}
.bubble{
    margin: 5px;
    border-radius: 20px;
    border:black 2px solid;
    overflow: hidden;
    text-align: center;
}